<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Travesia Express</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<link rel="shortcut icon" href="images/logo.png">
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
	media="screen">
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
	<!-- loader  -->
	
	<!-- end loader -->
	<!-- header -->
	<header>
		<!-- header inner -->
		<div class="header">
			<div class="head_top">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="top-box">
								<ul class="sociel_link">
									<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
							<div class="top-box">
								<p>Viaja con Travesia Express, te esperamos</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">

				<div class="row">
					<div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
						<div class="full">
							<div class="center-desk">
								<div class="logo">
									<a href="index.html"><img src="images/logo.png" width="50%"
										height="50%" alt="logo" /></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
						<div class="menu-area">
							<div class="limit-box">
								<nav class="main-menu">
									<ul class="menu-area-main">
									 <li class="active"> <a th:href="@{index}">Inicio</a> </li>
                              <li ><a th:href="@{/empleos}">Empleos</a> </li>
                              <li> <a th:href="@{/listarServicios}">Servicio</a> </li>
                              <li> <a th:href="@{/lstvehiculos}">vehiculo</a> </li>
                              <li> <a th:href="@{/registrarpqrs}">Ayuda Usuario</a> </li>

									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
						<li><a class="buy" th:href="@{/login}">Iniciar
								Sesion</a></li>

					</div>
				</div>
			</div>

		</div>
		</div>
		<!-- end header inner -->
	</header>
	<!-- end header -->
	<div class="brand_color">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2>¿Hay algo que quieras decirnos?</h2>
						<h5>Si tienes alguna petición, queja o reclamo, ingresa
							nuestro formulario online para radicarla</h5>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- contact -->
	<section class="contact-box">
		<div class="row no-gutters bg-dark">
			<div class="col-xl-5 col-lg-12 register-bg7">
				<div class="position-absolute testiomonial p-4">
					<h3 class="font-weight-bold text-light">Ofertas para ti por
						timpo limitado disfrutala y viaja con un costo mas bajo</h3>
					<p class="lead text-light">Buses de nueva y avanzada
						tecnologia.</p>
				</div>
			</div>
			<div class="col-xl-7 col-lg-12 d-flex">
				<div class="container align-self-center p-6">
					<h1 style="color: #e7c012;" class="font-weight-bold mb-3">Registro
						de tu peticion, queja o reclamo</h1>
					<div class="form-group"></div>
					<p class="text-muted mb-5">Ingresa la siguiente información
						para hacer valido tu registro</p>

					<form method="POST" th:action="@{/guardarPqrs}" th:object="${pqrs}">
					
					     
					    
							<div class="form-group mb-6">
								<label class="font-weight-bold">identificacion<span
									class="text-danger">*</span></label> <input type="text"
									class="form-control" placeholder="identificacion" th:field="*{usuario}">
																		
							</div>

						
							<div class="form-group mb-6">
								<label class="font-weight-bold">fecha de registro<span
									class="text-danger">*</span></label> <input type="date"
									class="form-control" placeholder="fecha" th:field="*{fecha}">
									<div class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></div>						    
						    </div>
						
						<div class="form-group mb-6">
							<label class="font-weight-bold">Correo electrónico <span
								class="text-danger">*</span></label> <input type="email"
								class="form-control" placeholder="Ingresa tu correo electrónico"
								th:field="*{correo}"> 
						 <div class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></div>
	
						</div>

						<div class="form-group mb-3">
							<label class="font-weight-bold">detalles de tu peticion <span
								class="text-danger"> <div class="form-text text-danger" th:if="${#fields.hasErrors('detalles')}" th:errors="*{detalles}"></div>*</span></label>
							<textarea class="form-control"
								placeholder="Por favor ingrese de forma clara las razones por las cuales registra la PQRS"
								th:field="*{detalles}"></textarea>

						</div>






						<div class="form-group mb-5">
							<div class="form-check">
								<input class="form-check-input" type="checkbox"> <label
									class="form-check-label text-muted">Al seleccionar esta
									casilla aceptas nuestro aviso de privacidad y los términos y
									condiciones</label>
							</div>
						</div>
						<div class=" col-md-12">

							<img src="https://img.icons8.com/clouds/100/000000/sent.png"/>
							<button type="submit" class="btn btn-primary" onclick="enviar()">
								<a>enviar</a>
							</button>
						</div>
					</form>
					<small class="d-inline-block text-muted mt-5">Todos los
						derechos reservados | © 2021 | Contactos 57 3184567991 | Travsias
						Express</small>
				</div>
			</div>

		</div>
	</section>
	</div>
	<br>
	<br>
	<br>
	<br>




	<div class="brand_color">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="titlepage">
						<h2>Informacion de contacto</h2>
					</div>
				</div>
			</div>
		</div>

	</div>



	<!-- contact -->

	<br>
	<br>
	<!-- end contact -->
	<div class="container-fluid padi">
		<div class="map">
			<img src="images/bm.png" alt="img" />
		</div>
	</div>





	<!--  footer -->
	<footr>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<ul class="sociel">
						<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<h3>contactos</h3>
						<ul style="color: #9C9B94;">
							<li>hecjgarcia@misena.edu.co</li>
							<li>hdacosta10@misena.edu.co</li>
							<li>leneanaya@misena.edu.co</li>
							<li>joraaguja@misena.edu.co</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<h3>Informacion adicional</h3>
						<h6 style="color: #9C9B94;">En Travesías Express puede
							encontrar una gran variedad de rutas turísticas. Puedes elegir
							uno de los destinos turísticos que ofrecemos y comenzar a
							planificar tus tan anheladas vacaciones ahora.</h6>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<h3>Direccion</h3>

						<h5 style="color: #9C9B94;">Calle 140 #118- 53</h5>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
					<div class="contact">
						<h3>Telefono</h3>
						<h5 style="color: #9C9B94;">314 4905189</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<p>Travesia Express 2021 Todos los derechos reservados</p>
		</div>

	</div>
	</footr>
	<!-- Javascript files-->
	<script src="@{js/codigo1.js}"></script>
	<script src="js/sweetalert.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<!-- sidebar -->

	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<script
		src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>



	<script>
		$(document).ready(function() {
			$(".fancybox").fancybox({
				openEffect : "none",
				closeEffect : "none"
			});

			$(".zoom").hover(function() {

				$(this).addClass('transition');
			}, function() {

				$(this).removeClass('transition');
			});
		});
	</script>


</body>
</html>