
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1">
<title>Administrador</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="shortcut icon" href="img/logo.jpeg">
<link rel="stylesheet" href="css/style5.css">
<link rel="stylesheet" href="css/style4.css">
</head>

<body>

	<input type="checkbox" id="nav-toggle">
	<div class="sidebar">
		<div class="sidebar-brand container-fluids">
			<h2>
				<span> <img width="70%" height="70%" src="img/logo.jpeg"
					alt=""></span>
		</div>
		<br>
		<!--Secciones-del-tablero-->
		<div class="sidebar-menu">
			<ul>
				<li><a th:href="@{/inicioCondu}" class="active"><span
						class="las la-home"></span> <span>Perfil</span></a></li>

				<li><a th:href="@{/tablareportes}"><span
						class="las la-history"></span> <span>reportes</span></a></li>


			</ul>
		</div>
	</div>

	<div class="main-content">
		<header>
			<h2>
				<label for="nav-toggle"> <span class="las la-bars"></span>
				</label> reportes
			</h2>

			<div class="search-wrapper">
				<span class="las la-search"></span> <input type="search"
					placeholder="Buscar aquí" />
			</div>
			<div class="user-wrapper">
				<img src="img/chofe.jpg" width="40px" height="40px" alt="">
				<div>
					<h4>empleado</h4>
					<small><a th:href="@{/index}">Cerrar Sesion</a></small>
				</div>
			</div>
		</header>

		<main>

			<section class="contact-box">
				<div class="row no-gutters bg-dark">
					<div class="col-xl-5 col-lg-12 register-bg">
						<div class="position-absolute testiomonial p-4">
							<h3 class="font-weight-bold text-light"></h3>
							<p class="lead text-light"></p>
						</div>
					</div>
					<div class="col-xl-7 col-lg-12 d-flex">
						<div class="container align-self-center p-6">
							<h1 class="font-weight-bold mb-3">Ofertas</h1>
							<div class="form-group"></div>
							<p class="text-muted mb-5">Ingresa la siguiente información .</p>

							<form method="POST" th:action="@{guardareporte2}"
								th:object="${reporte}">
								<div class="form-row mb-2">
								
								
									<div class="form-group col-md-12">
										<label class="font-weight-bold" required="">fecha de
											entrega <span class="text-danger">*</span>
										</label> <input type="date" class="form-control" placeholder="codigo"
											th:field="*{reporteentrega}">
									</div>
									<div class="form-group col-md-12">
										<label class="font-weight-bold">fecha de llegada <span
											class="text-danger">*</span></label> <input type="date"
											class="form-control"
											placeholder="horarios en que llega el vehiculo"
											th:field="*{reportellegada}">
									</div>

									<div class="form-group col-md-12">
										<label class="font-weight-bold">observaciones<span
											class="text-danger">*</span></label> <input type="text"
											class="form-control" placeholder="estado "
											th:field="*{estadovehiculo}">
									</div>

									<div class="form-group col-md-12">
										<label class="font-weight-bold">dia de reporte<span
											class="text-danger">*</span></label> <input type="date"
											class="form-control"
											placeholder="ingrese el dia exacto que hace el reporte"
											th:field="*{diareporte}">
									</div>

									<div class="form-group col-md-12">
										<label class="font-weight-bold ">identificacion<span
											class="text-danger">*</span></label> <input type="text" 
											class="form-control"
											
											th:field="*{usuario}">
									</div>

									<div class="form-group col-md-12">
										<label class="font-weight-bold ">matricula del vehiculo<span
											class="text-danger">*</span></label> <input type="text" 
											class="form-control" 
											
											th:field="*{vehiculo}">
									</div>


								</div>




							<button type="submit" class="btn btn-primary">Submit</button>
								<br> 
								
								
								<button th:href="@{/restar}" value="CANCELAR"
									class="btn btn-danger"> CANCELAR </button>
									
							</form>
							<small class="d-inline-block text-muted mt-5">Todos los
								derechos reservados | © 2021 | Contactos 57 3184567991 |
								Travsias Express</small>
						</div>
					</div>

				</div>
			</section>

			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"></script>
			<script
				src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
				crossorigin="anonymous"></script>
</body>

</html>