
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="shortcut icon" href="img/logo.jpeg">
    <link rel="stylesheet" href="css/style5.css">
     <link rel="stylesheet" href="css/style4.css"> 
</head>

<body>

    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand container-fluids">
            <h2><span > <img width="70%" height="70%" src="img/logo.jpeg" alt=""></span> 
        </div><br>
        <!--Secciones-del-tablero-->
        <div class="sidebar-menu">
           <ul>
                <li>
                    <a th:href="@{/inicioDash}" ><span class="las la-home"></span>
                    <span>Inicio</span></a>
                </li>
                <li>
                  <a th:href="@{/listarventas}" ><span class="las la-history"></span>
                    <span>Ventas</span></a>
                </li>
                <li>
                    <a th:href="@{/lstUsuario}"><span class="las la-user"></span>
                    <span>Usuarios</span></a>
                </li>
                <li>
                    <a th:href="@{/lstservicio2}" ><span class="las la-user-injured"></span>
                    <span>Servicios</span></a>
                </li>
                
              <li>
                    <a th:href="@{/vehiculos}" ><span class="las la-history"></span>
                    <span>Vehiculos</span></a>
                </li>
                <li>
                    <a th:href="@{/of1}" ><span class="las la-user-circle"></span>
                    <span>Fidelizacion</span></a>
                </li>
                <li>
                    <a th:href="@{/lstpqrs}" class="active"><span class="las la-phone"></span>
                    <span>PQRS</span></a>
                </li>
                <li>
                    <a  th:href="@{/recursoshumanos}"><span class="las la-user"></span>
                    <span>Recursos Humanos</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label> Registrar respuesta
            </h2>

            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Buscar aquí" />
            </div>
            <div class="user-wrapper">
                <img src="img/chofe.jpg" width="40px" height="40px" alt="">
                <div>
                    <h4>Administrador</h4>
                    <small ><a th:href="@{/logout}">Cerrar Sesion</a></small>
                </div>
            </div>
        </header>

        <main>
      
            <section class="contact-box">
                <div class="row no-gutters bg-dark">
                    <div class="col-xl-5 col-lg-12 register-bg">
                     <div class="position-absolute testiomonial p-4">
                         <h3 class="font-weight-bold text-light"></h3>
                         <p class="lead text-light"></p>
                     </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 d-flex">
                         <div class="container align-self-center p-6">
                             <h1 class="font-weight-bold mb-3">Peticiones quejas y reclamos</h1>
                             <div class="form-group">
                                 
                             </div>
                             <p class="text-muted mb-5">Ingresa la siguiente información.</p>
         
                             <form method="POST"  th:action="@{/enviaremail}">
                                 <div class="form-row mb-2">
                                     <div class="form-group col-md-8">
                                         <label class="font-weight-bold" required="">correo<span class="text-danger">*</span></label>
                                         <input type="text" class="form-control" placeholder="codigo" name="correo">
                                     </div>
                                     <div class="form-group col-md-8">
                                         <label class="font-weight-bold">  asunto<span class="text-danger">*</span></label>
                                         <input type="text" class="form-control" placeholder="respuesta a enviar" name="subject" >
                                     </div>
                                     
                                     <div class="form-group col-md-8">
                                         <label class="font-weight-bold">  respuesta <span class="text-danger">*</span></label>
                                         <input type="text" class="form-control" placeholder="respuesta a enviar" name="body" >
                                     </div>
                                     
                                     
                                    
                                 </div>
                         
                                 
                                 
                                 
                               <button type="submit" class="btn btn-primary width-100">Enviar</button> 
                             </form>
                             <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2021 | Contactos 57 3184567991 | Travsias Express</small>
                         </div>
                    </div>
                    
                </div>
            </section>
         
             <!-- Optional JavaScript -->
             <!-- jQuery first, then Popper.js, then Bootstrap JS -->
             <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




  

</body>

</html>